@import "tailwindcss";

@media (prefers-color-scheme: light) {
    :root {
        --text: #0f172a;
        --text-danger: #ef4444;
        --text-h: #020617;
        --bg: #ffffff;
        --bg-danger: #ff4141;
        --primary: #2563eb;
        --primary-soft: #3b82f6;
        --secondary: #64748b;
        --accent: #10b981;
        --accent-bg: #ecfdf5;
        --accent-border: #d1fae5;
        --accent-soft: #34d399;
        --border: #e2e8f0;
        --border-danger: #ff4747;
        --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #cbd5e1;
        --text-h: #f8fafc;
        --text-danger: #ef4444;
        --bg: #0f172a;
        --bg-danger: #b91c1c;
        --primary: #3b82f6;
        --primary-soft: #2563eb;
        --secondary: #94a3b8;
        --accent: #10b981;
        --accent-bg: #064e3b;
        --accent-border: #065f46;
        --accent-soft: #34d399;
        --border: #1e293b;
        --border-danger: #852424;
        --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.4);
    }
}

:root {
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

#root {
    width: 100%;
    margin: 0 auto;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2 {
    font-family: var(--heading), serif;
    font-weight: 500;
    color: var(--text);
}

h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    @media (max-width: 1024px) {
        font-size: 36px;
    }
}

h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
}

p {
    margin: 0;
}

code,
.counter {
    font-family: var(--mono), monospace;
    display: inline-flex;
    border-radius: 4px;
    color: var(--text);
}

code {
    font-size: 15px;
    line-height: 135%;
    padding: 4px 8px;
    background: var(--bg);
}

.btn {
    @apply px-4 py-2 bg-(--primary) hover:bg-(--primary-soft) rounded-lg text-white font-medium transition-all active:scale-95 shadow-sm;
}

.btn-secondary {
    @apply px-4 py-2 rounded-lg text-(--text-h) border border-(--border) hover:bg-(--secondary)/10 font-medium transition-all active:scale-95 shadow-sm;
}

.btn-danger {
    @apply px-4 py-2 bg-(--bg-danger) hover:bg-(--bg-danger)/80 text-white rounded-lg  border border-(--border-danger) font-medium transition-all active:scale-95 shadow-sm;
}

.text-input {
    @apply px-4 py-2.5 bg-(--bg) text-(--text-h) border border-(--border) rounded-lg focus:outline-none focus:ring-2 focus:ring-(--primary) transition-all placeholder:text-(--secondary);
}

.dropdown {
    @apply px-4 py-2.5 bg-(--bg) text-(--text-h) border border-(--border) rounded-lg focus:outline-none focus:ring-2 focus:ring-(--primary) transition-all;
}

.card {
    @apply rounded-2xl border border-(--border) bg-(--bg) shadow-(--shadow)
}

.chip {
    @apply px-2 py-0.5 rounded text-xs font-medium
}